<div class="body">
  <h2>Welcome! What would you like to do?</h2>
  <div class="cards">
    <nav>
      <a routerLink='/templates'>
        <mat-card (click)="manageTemplates()"
                  (mouseenter)="isActive = true"
                  (mouseleave)="isActive = false"
                  [class.mat-elevation-z2]="!isActive"
                  [class.mat-elevation-z20]="isActive">
          <img src="https://www.maxpixel.net/static/photo/1x/Photoshop-Coding-Code-Programming-Php-Web-Symbol-3647303.jpg" mat-card-image/>
          <mat-card-title>Create A Template</mat-card-title>
          <mat-card-subtitle>Make a shell for interpretted code to run in</mat-card-subtitle>
        </mat-card>
      </a>
    </nav>
    <nav>
      <a routerLink='/submissions'>
        <mat-card (click)="viewSubmissions()"
              (mouseenter)="isActive2 = true"
              (mouseleave)="isActive2 = false"
              [class.mat-elevation-z2]="!isActive2"
              [class.mat-elevation-z20]="isActive2">
          <img src="https://www.maxpixel.net/static/photo/1x/Photoshop-Coding-Code-Programming-Php-Web-Symbol-3647303.jpg" mat-card-image/>
          <mat-card-title>View Submissions</mat-card-title>
          <mat-card-subtitle>View and Upload Pictures of Your Code</mat-card-subtitle>
        </mat-card>
      </a>
    </nav>
  </div>
</div>